Source: non-sequencer
Section: sound
Priority: extra
Maintainer: Julien Lta BALLET <elthariel@gmail.com>
Build-Depends: debhelper (>= 7), libfltk1.1-dev, libsigc++-2.0-dev, libjack-dev, liblash-dev, build-essential, libc6-dev, libasound2-dev
Standards-Version: 3.8.3
Homepage: http://non-sequencer.tuxfamily.org/

Package: non-sequencer
Architecture: any
Depends: jackd, lashd, ${shlibs:Depends}
Description: Non Sequencer is a real-time, pattern-based MIDI sequencer
 The Non Sequencer is a powerful real-time, pattern-based MIDI
 sequencer for Linux--released under the GPL. Filling the void left by
 countless DAWs, piano-roll editors, and other purely performance
 based solutions, it is a compositional tool--one that transforms MIDI
 music-making on Linux from a complex nightmare into a pleasurable,
 efficient, and streamlined process.
